.firstImage {
    background-image: url('/blog/1.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.blogImageContainer {
    width: 100%;
    position: relative !important;
    height: 15rem;
}

.blogImage {
    object-fit: cover;
    width: 100%;
    position: absolute !important;
    height: 100%;
}

.newsImage {
    background-image: url('/blog/news.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.newsletterImage {
    background-image: url('/blog/newsletter.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}