.firstImage {
    background-image: url('/membresias/banner.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.secondImage {
    background-image: url('/membresias/1.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.thirdImage {
    background-image: url('/membresias/2.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.fourImage {
    background-image: url('/membresias/3.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}