.firstImage {
    background-image: linear-gradient(#7D803480, #7D803480), url('/membresias/1.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.secondImage {
    background-image: linear-gradient(#7D803480, #7D803480), url('/membresias/2.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.thirdImage {
    background-image: linear-gradient(#7D803480, #7D803480), url('/membresias/3.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.fourImage {
    background-image: linear-gradient(#7D803480, #7D803480), url('/membresias/4.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}