.firstImage {
    background-image: linear-gradient(#7D803480, #7D803480), url('/investigacion/1.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.secondImage {
    background-image: linear-gradient(#7D803480, #7D803480), url('/investigacion/2.jpeg');
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    background-position-y: 63%;
}