.firstImage {
    background-image: url('/alianzas/1.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.secondImage {
    background-image: url('/sostenibilidad/estrategia/2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}