.firstImage {
    background-image: url('/contacto/1.webp');
    background-repeat: no-repeat;
    background-position-y: 45%;
    background-size: cover;
}

.secondImage {
    background-image: url('/contacto/map.png');
    background-repeat: no-repeat;
    background-position-y: 45%;
    background-size: cover;
}