.firstImage {
    background-image: linear-gradient(#7D803480, #7D803480), url('/contacto/1.jpeg');
    background-repeat: no-repeat;
    background-position-y: 45%;
    background-size: cover;
}

.secondImage {
    background-image: url('/contacto/map.png');
    background-repeat: no-repeat;
    background-position-y: 45%;
    background-size: cover;
}