.imageContainer>div {
    width: 100%;
}

@media (min-width: 1024px) {
    .imageContainer>div {
        height: 30rem;
    }
}

@media (max-width: 1024px) {
    .imageContainer>div {
        padding: 5rem 0;
    }
}