.background {
    background-image: linear-gradient(#7D803480, #7D803480), url('/sostenibilidad/estrategia/2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}