@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Montserrat', sans-serif; */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Montserrat', sans-serif;
}

li {
  width: fit-content;
}

ul {
  width: fit-content;
}

.image-container {
  width: 100%;
  position: relative !important;
}

.image-container .image {
  object-fit: cover;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

input, textarea {
  outline: none;
}

.link {
  color: #7D8034;
  text-decoration: underline;
  transition: .25s color;
}

.link:hover {
  color: #4e501e;
}