.blogImageContainer {
    width: 100%;
    position: relative !important;
}

.blogImage {
    object-fit: cover;
    width: 100% !important;
    position: relative !important;
    height: 100% !important;
}