@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Protest+Riot&display=swap');
/* font-family: "Open Sans", sans-serif; */

/* Fonts */
@font-face {
  font-family: futura-light-regular;
  src: url('/fonts/futura-light-regular/font.otf') format('opentype');
  font-style: medium;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: optima-medium;
  src: url('/fonts/optima/medium.otf') format('opentype');
  font-style: medium;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: optima-regular;
  src: url('/fonts/optima/regular.otf') format('opentype');
  font-style: medium;
  font-weight: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.futura-light-regular { font-family: futura-light-regular; }
.optima-medium { font-family: optima-medium; }
.optima-regular { font-family: optima-regular; }

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  font-family: optima-medium;
}

.text-shadow {
  text-shadow: 0 0 7px rgba(0,0,0,.66);
}

p {
  font-family: "Open Sans", sans-serif;
  color: #7d7d7d;
}

/* * {
  font-family: 'Montserrat', sans-serif;
} */

li {
  width: fit-content;
}

ul {
  width: fit-content;
}

.image-container {
  width: 100%;
  position: relative !important;
}

.image-container .image {
  object-fit: cover;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

input,
textarea {
  outline: none;
}

.link {
  color: #7D8034;
  text-decoration: underline;
  transition: .25s color;
}

.link:hover {
  color: #4e501e;
}

ul.indicators {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 7px;
  margin-top: 0 !important;
  bottom: 6rem;
  left: 13rem;
}

.indicator {
  height: 0.25rem;
  width: 2.5rem;
  background: rgb(207, 207, 207);
  border-radius: 9999px;
}

.indicator.active {
  background: rgb(255, 255, 255);
}

.text-slider-prev-arrow {
  position: absolute;
  right: 16rem !important;
  width: fit-content;
  left: inherit !important;
  bottom: 5rem;
}

.text-slider-next-arrow {
  position: absolute;
  right: 13rem !important;
  bottom: 5rem;
}

@media (max-width: 1024px) {
  ul.indicators {
    left: 50%;
    transform: translateX(-50%);
    bottom: 8.8rem;
  }

  .text-slider-prev-arrow {
    right: 50% !important;
    transform: translateX(calc(.7rem - 50%));
  }

  .text-slider-next-arrow {
    right: 50% !important;
    transform: translateX(calc(1.4rem + 50%));
  }
}