.becomeMember {
    /* background-image: url('/programas/example/4.jpg'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.howCanHelp {
    /* background-image: url('/programas/example/3.jpg'); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}